body {
  margin: 0;
  background: url('images/background.jpg') no-repeat bottom center/cover;
}

.container {
  overflow: hidden;
  height: 100vh;
}

#todo_wrap {
  overflow-y: auto;
  height: 80%;
}

.list-group-item {
  margin-top: 0.75rem;
  padding: 0;
  border: 0;
}
.list-group-item:first-child {
  margin-top: 0;
}
.todo_list-check {
  height: 100%;
  background: #fff;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.todo_prepend-btn {

}
.todo-check {
  padding: 0;
  border: 0;
}
.todo-check .icon-check {
  display: none;
}
.todo_list-input {
  border-left: 0;
  border-radius: 0 .375rem .375rem 0 !important;
}
.todo_list-input:disabled {
  background-color: #fff;
}
.input-group-append {
  padding-left: 0.75rem;
}
.todo_append-btn {

}
.todo-delete {
  border: 1px solid #ced4da;
  color: #333;
}
.todo-delete:hover {
  background-color: #dc3545;
  color: #fff;
}
.todo-fix {
  color: #333;
}
.todo-fix:hover {
  color: #ffca2c;
}
.todo-empty {
  font-size: .9rem;
}